# Flutter/Dart/Pub related
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# Build outputs
/build/
.dart_tool/
.build/
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Pods/
.android/
.idea/
.vscode/
.DS_Store
.metadata

# Environment variables (contains sensitive keys)
# .env
# *.env.local
